<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/project_management_class/src/main/java/com/example/project_management_class/presentation/controller">
        <classes/>
    </test>
</suite>